@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); 
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --primaryColor: #50623A;
    --secondaryColor: #294B29;
    --primaryTextColor: #dcf4ff;
    --secondaryTextColor: #c3b8ff;
    --bg: #DBE7C9;
    --nav: #2e3440;
}
/* -------------------Header Start----------------------- */
header{
    height: 50px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    justify-content: space-evenly;
    align-items: center;
    background: var(--primaryColor);
}
.contect{
    height: 30px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect1{
    height: 30px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect2{
    height: 30px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect3{
    height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contect3 a{
    background: var(--primaryTextColor);
    color: var(--primaryColor);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.contect3 a:hover{
    color: var(--primaryColor);
    background: var( --bg);

}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--primaryTextColor);
}
a:hover{
    color:var(--bg);
}
.social-contect{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-contect1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-contect1:hover a{
    color: var(--primaryTextColor);
}
.social-contect2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var( --bg);
    color: var(--primaryTextColor);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.social-contect2:hover a{
    color: var(--primaryTextColor);
}
.facebook{
    background: #00f;
}
.instagram{
    background: rgb(201, 7, 94);
}
.youtube{
    background: #f00;
}
/* -------------------Header End------------------------- */

/* -----------------------Logo Section Start------------------------------------- */
.container{
    min-height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.logo{
    height: 130px;
    width: 180px;
    background: #fff;
    display: flex;
    
}
.logo img{
    height: 100%;
    width: 100%;
}
.logo1{
    height: 130px;
    width: 180px;
    background: #fff;
    display: flex;
    
}
.logo1 img{
    height: 100%;
    width: 100%;
}
.schoolname{
    height: 100%;
    width: 80%;
    padding: 20px 0px;
    overflow: hidden;
}
.schoolname h1{
    font-size: 60px;
    color: var(--secondaryColor);
    text-align: center;
    padding-bottom: 10px;
}
.schoolname h2{
    font-size: 40px;
    color: var(--primaryColor);
    text-align: center;
    line-height: 0%;
}
/* --------------------------Logo Section End-------------------------------------- */

/* ---------------------------------Landing Section Start------------------------------------------- */
.manubar{
    height: 50px;
    width: 100%;
    background: var(--primaryColor);
    border-top: 0.5px;
    border-bottom: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type:none;
    display: block;
}
li{
    float: left;
    color: var(--primaryColor);
}
li:hover{
    background: #fff;
    color: var(--primaryColor);
}
.link{
    padding: 15px 25px;
    color: #fff;
}
li:hover a{
    background: #fff;
    color: var(--primaryColor);
}
.home{
    background: #fff;
    color: var(--primaryColor);
}
.home{
    border-right: 0.1px solid var(--primaryColor);
}

/* ------------------------Manu Box Start----------------------------------- */
.manubar1{
    height: 50px;
    width: 100%;
    background: rgb(202, 198, 198);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    display: none;
}
.manudiv{
    height: 40px;
    width: 50px;
    background-image: url("../images/menu.png");
    background-size: cover;
    display: none;
    border-radius: 5px;

}
.manudiv img{
    height: 100%;
    width: 100%;
}
/* ------------------------Manu Box End----------------------------------- */
/* ------------------------------Dropdown manu---------------------------------- */

/* ---------------------------------Landing Section End------------------------------------------- */

/*----------------------------slider Section start-----------------------------------------*/
.slider-section{
    height: 65vh;
    width: 100%;
    margin: none;
}
.slide{
    height: 100%;
    width: 100%;    
}
.slide img{
    height: 100%;
    width: 100%;
}
/* ------------------------Slider Section End-------------------------------------------- */
/* ---------------------------------Notifications/ Announcements Start-------------------------------------- */
.announcements{
    min-height: 160px;
    width: 80%;
    padding: 40px 0px;
    margin: 20px 10px;
}
.announcements h1{
    text-align: center;
    font-size: 40px;
    color: #000;
    line-height: 100px;
}
b{
    font-weight: bolder;
}
.notic{
    min-height: 100px;
    width: 100%;
    border-top: 2px solid rgb(59, 153, 216);
    padding-top: 10px;
}
.notic a{
    color: #000;
}
/* -------------------------------Notifications/ Announcements End ------------------------------------ */

/* --------------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------footer Section Start------------------------------------------------*/
.container1{
    min-height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
}
footer{
    min-height: 500px;
    width: 100%;
    background: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    color: var(--primaryTextColor);
}
.footer-content-box{
    height: 310px;
    width: 24%;
    padding: 10px;
    margin: 0.20%;
}
.footer-content-box .footer-headerTag{
    font-size: 35px;
    margin-bottom: 10%;
}
.footer-content-box .para-educator{
    margin: 0% 0% 8% 0%;
    line-height: 25px;
    color: var(--secondaryTextColor);
}
.footer-content-box .footer-contact .footer-contact-list{
    list-style: none;
    margin: 3% 0%;
    letter-spacing: 1px;
    color: var(--secondaryTextColor);
}
.footer-content-box .footer-contact .footer-contact-list:hover{
    background: none;
}
.footer-content-box .footer-contact .footer-contact-list a{
    text-decoration: none;  
    font-weight: bold;
    background: var(--primaryColor);
    color: var(--secondaryTextColor);
}
.footer-content-box .footer-contact .footer-contact-list a:hover{
    color: var(--primaryTextColor);
}
.footer-map li{
    list-style: none;
}
.footer-map li a{
    text-decoration: none;
}
.footer-content-box .footer-img{
    height: 100%;
    width: 100%;
    transition: .2s;
}
.footer-content-box .footer-img:hover{
    transform: scale(1.05);
    background: var(--primaryColor);
}
.horigentalTag{
    border-top: 2px solid var(--nav);
}











/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------Media Query Code Start------------------------------ */
@media screen and (max-width: 1224px){
    .link{
        padding: 15px 15px;
    }
}
@media screen and (max-width: 1080px){
    .link{
        padding: 15px 10px;
        font-size: 14px;
    }
    .footer-content-box{
        width: 32%;
    }
    .footer-content-box:nth-child(4){
        width: 49%;
    } 
}
@media screen and (max-width: 1024px){
    .link{
        padding: 15px 15px;
    }
}
@media screen and (max-width: 980px){
    .link{
        padding: 15px 12px;
        font-size: 12;
    }
}
@media screen and (max-width: 950px){
    .link{
        padding: 15px 10px;
    }
}
@media screen and (max-width: 880px){
    ul{
        display: none;
    }
    .manubar1{
        display: flex;
    }
    .manudiv{
        display: flex;
    }
    .footer-content-box{
        width: 49%;
    }
    .footer-content-box .footer-contact .footer-contact-list{
        display: grid;
        visibility: visible;
    }
    .footer-content-box .footer-contact .footer-contact-list a{
        visibility: visible;
    }
    .footer-content-box:nth-child(4){
        width: 80%;
    } 
}
@media screen and (max-width: 860px){
    .schoolname{
        padding: 20px 0px;
        background: #fff;
    }
    .schoolname h1{
        font-size: 40px;
        text-align: center;
        
    }
    .schoolname h2{
        font-size: 25px;
        text-align: center;
        line-height: 0%;
    }
    .logo1{
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .contect1{
        display: none;
    }
    .schoolname{
        width:100%;
    }
    .logo{
        display: none;
    }
    .logo1{
        display: none;
    }
}